/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/regulator/qcom,rpmh-regulator.h>
#include <dt-bindings/pinctrl/qcom,pmic-gpio.h>
#include "sm7125.dtsi"
#include "pm6150.dtsi"
#include "pm6150l.dtsi"

/delete-node/ &rmtfs_mem;
/delete-node/ &ipa_fw_mem;

/ {
	model = "Xiaomi Redmi Note 9 Pro";
	compatible = "xiaomi,joyeuse", "qcom,sm7125", "qcom,sc7180";
	qcom,msm-id = <443 0x0>;
	qcom,board-id = <0x50022 0x1>;

        aliases {
                //bluetooth0 = &bluetooth;
                //hsuart0 = &uart3;
                //serial0 = &uart8;
                wifi0 = &wifi;

		vreg_s1a_1p1 = &vreg_s1a; 
		vreg_s4a_1p0 = &vreg_s4a; 
		vreg_s5a_2p0 = &vreg_s5a; 
		vreg_l1a_1p2 = &vreg_l1a; 
		vreg_l2a_1p0 = &vreg_l2a; 
		vreg_l3a_1p0 = &vreg_l3a; 
		vreg_l4a_0p8 = &vreg_l4a; 
		vreg_l5a_2p7 = &vreg_l5a; 
		vreg_l6a_0p6 = &vreg_l6a; 
		vreg_l9a_0p6 = &vreg_l9a; 
		vreg_l10a_1p8 = &vreg_l10a;
		vreg_l11a_1p8 = &vreg_l11a;
		vreg_l12a_1p8 = &vreg_l12a;
		vreg_l13a_1p8 = &vreg_l13a;
		vreg_l14a_1p8 = &vreg_l14a;
		vreg_l15a_1p8 = &vreg_l15a;
		vreg_l16a_2p7 = &vreg_l16a;
		vreg_l17a_3p0 = &vreg_l17a;
		vreg_l18a_2p8 = &vreg_l18a;
		vreg_l19a_2p9 = &vreg_l19a;
		vreg_s8c_1p3 = &vreg_s8c; 
		vreg_l1c_1p8 = &vreg_l1c; 
		vreg_l2c_1p3 = &vreg_l2c; 
		vreg_l3c_1p2 = &vreg_l3c; 
		vreg_l4c_1p8 = &vreg_l4c; 
		vreg_l5c_1p8 = &vreg_l5c; 
		vreg_l6c_2p9 = &vreg_l6c; 
		vreg_l7c_3p0 = &vreg_l7c; 
		vreg_l8c_1p8 = &vreg_l8c; 
		vreg_l9c_2p9 = &vreg_l9c; 
		vreg_l10c_3p3 = &vreg_l10c;
		vreg_l11c_3p3 = &vreg_l11c;
	};

        reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		mpss_mem: memory@86000000 {
			reg = <0x0 0x86000000 0x0 0x8400000>;
			no-map;
		};

		adsp_mem: memory@91100000 {
			reg = <0x0 0x91100000 0x0 0x2800000>;
			no-map;
		};

		cdsp_mem: memory@8f300000 {
			reg = <0x0 0x8f300000 0x0 0x1e00000>;
			no-map;
		};

		venus_mem: memory@8ee00000 {
			reg = <0 0x8ee00000 0 0x500000>;
			no-map;
		};

		wlan_mem: memory@93900000 {
			reg = <0x0 0x93900000 0x0 0x200000>;
			no-map;
		};

		ipa_fw_mem: memory@93b00000 {
			reg = <0x0 0x93b00000 0x0 0x10000>;
			no-map;
		};

                splash_mem: memory@9c000000 {
                        reg = <0x0 0x9c000000 0x0 0x1700000>;
                        no-map;
                };

		ramoops@9d800000 {
			compatible = "ramoops";
			reg = <0x0 0x9d800000 0x0 0x00400000>;

			record-size = <0x80000>;
			pmsg-size = <0x200000>;
			console-size = <0x100000>;
		};

		rmtfs_mem: memory@f3901000 {
			compatible = "qcom,rmtfs-mem";
			reg = <0 0xf3901000 0 0x200000>;
			no-map;

			qcom,client-id = <1>;
			qcom,vmid = <15>;
		};
        };

	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
#if 1
		framebuffer@9c000000 {
			compatible = "simple-framebuffer";
			reg = <0x0 0x9c000000 0x0 (1080 * 2400 * 4)>;
			width = <1080>;
			height = <2400>;
			stride = <(1080 * 4)>;
			format = "a8r8g8b8";
		};
#endif
	};

        gpio-keys {
                compatible = "gpio-keys";
                label = "Volume key";

                pinctrl-names = "default";
                pinctrl-0 = <&key_vol_up_default>;

                key-vol-up {
                        label = "Volume Up";
                        linux,code = <KEY_VOLUMEUP>;
                        gpios = <&pm6150l_gpio 2 GPIO_ACTIVE_LOW>;
                };

        };
};

&dsi0 {
        status = "okay";

        vdda-supply = <&vreg_l3c>;
        vddio-supply = <&vreg_l18a>;
        vdds-supply = <&vreg_l18a>;

        panel0: panel@0 {
                compatible = "mdss,nt36675-tianma",
                                "xiaomi,nt36675-tianma-dummy",
                                "mdss,nt36675-tianma-fhd";
                reg = <0>;

                vdda-supply = <&vreg_l8c>;
                vdd3p3-supply = <&vreg_l18a>;
                vddio-supply = <&vreg_l18a>;

                /* display_sde.dtsi
                vddio-supply = <&L13A>;
                vdda-3p3-supply = <&L18A>;
                */

                /* cust_sde.dtsi
                /delete-property/ vdda-3p3-supply;
                vddio-supply = <&L18A>;
                */

                lab-supply = <&lab>;
                ibb-supply = <&ibb>;
#if 1
                pinctrl-names = "default";
//              pinctrl-1 = <&te_gpio>;
                pinctrl-0 = <&disp_pins>;

                /* according to panel-nt36675-tianma.c this gpio is finally low */
                reset-gpios = <&pm6150l_gpio 3 GPIO_ACTIVE_LOW>;
//              disp-te-gpio = <&tlmm 10 GPIO_ACTIVE_LOW>;
#endif
                status = "okay";

                ports {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        port@0 {
                                reg = <0>;
                                panel0_in: endpoint {
                                        remote-endpoint = <&dsi0_out>;
                                };
                        };
                };
        };
};

&dsi0_out {
        remote-endpoint = <&panel0_in>;
        data-lanes = <0 1 2 3>;
	status = "okay";
};

&dsi_phy {
        status = "okay";
        vdds-supply = <&vreg_l4a>;
};

&gpu {
        status = "okay";
};

&ipa {
        status = "okay";

        memory-region = <&ipa_fw_mem>;
        firmware-name = "qcom/sm7125/miatoll/ipa_fws.mdt";
};

&mdp {
        status = "okay";

};

&mdss {
        status = "okay";
	memory-region = <&splash_mem>;
};

&pm6150l_lsid5 {
        pm6150l_labibb: labibb@dc00 {
                compatible = "qcom,pmi8998-lab-ibb";
                status = "okay";

                ibb: ibb@dc00 {
                        interrupts = <0x5 0xdc 0x2 IRQ_TYPE_EDGE_RISING>,
                                                 <0x5 0xdc 0x0 IRQ_TYPE_LEVEL_HIGH>;
                        interrupt-names = "sc-err", "ocp";

                        regulator-min-microvolt = <4600000>;
                        regulator-max-microvolt = <6000000>;
                        regulator-over-current-protection;
                        regulator-pull-down;
                        regulator-soft-start;
                        qcom,discharge-resistor-kohms = <300>;
                };

                lab: lab@de00 {
                        interrupts = <0x5 0xde 0x1 IRQ_TYPE_EDGE_RISING>,
                                                 <0x5 0xde 0x0 IRQ_TYPE_LEVEL_LOW>;
                        interrupt-names = "sc-err", "ocp";

                        regulator-min-microvolt = <4600000>;
                        regulator-max-microvolt = <6000000>;
                        regulator-over-current-protection;
                        regulator-pull-down;
                        regulator-soft-start;
                };
        };
};

&pm6150_pon {
        pm6150_volumekey: volumekey {
                compatible = "qcom,pm8941-pwrkey";
                interrupts = <0x0 0x8 1 IRQ_TYPE_EDGE_BOTH>;
                debounce = <15625>;
                bias-pull-up;
                linux,code = <KEY_VOLUMEDOWN>;
        };

        pm6150_pwrkey: pwrkey {
                compatible = "qcom,pm8941-pwrkey";
                interrupts = <0x0 0x8 0 IRQ_TYPE_EDGE_BOTH>;
                debounce = <15625>;
                bias-pull-up;
                linux,code = <KEY_POWER>;
        };
};

&pm6150l_wled {
        /delete-property/ interrupts;
        /delete-property/ interrupt-names;
        status = "okay";
};

&remoteproc_mpss {
        status = "okay";
        firmware-name = "qcom/sm7125/miatoll/modem.mdt";
};

&sdhc_2 {
	status = "okay";

	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&sdc2_on>;
	pinctrl-1 = <&sdc2_off>;
	vmmc-supply = <&vreg_l9c>;
	vqmmc-supply = <&vreg_l6c>;

	cd-gpios = <&tlmm 69 GPIO_ACTIVE_HIGH>;
};

&ufs_mem_hc {
	status = "okay";

	vcc-supply = <&vreg_l19a>;
	vcc-max-microamp = <600000>;
	vccq2-supply = <&vreg_l12a>;
	vccq2-max-microamp = <600000>;
};

&ufs_mem_phy {
	status = "okay";

	vdda-phy-supply = <&vreg_l4a>;
	vdda-pll-supply = <&vreg_l3c>;
	vdda-phy-max-microamp = <62900>;
	vdda-pll-max-microamp = <18300>;
};

&usb_1 {
	status = "okay";
};

&usb_1_dwc3 {
	dr_mode = "peripheral";
};

&usb_1_hsphy {
	status = "okay";
	vdd-supply = <&vreg_l4a>;
	vdda-pll-supply = <&vreg_l11a>;
	vdda-phy-dpdm-supply = <&vreg_l17a>;
};

&usb_1_qmpphy {
	status = "okay";
	vdda-phy-supply = <&vreg_l4a>;
	vdda-pll-supply = <&vreg_l3c>;
};

&wifi {
	status = "okay";

	vdd-0.8-cx-mx-supply = <&vreg_l9a>;
	vdd-1.8-xo-supply = <&vreg_l1c>;
	vdd-1.3-r3fa-supply = <&vreg_l2c>;
	vdd-3.3-ch0-supply = <&vreg_l10c>;
	vdd-3.3-ch1-supply = <&vreg_l11c>;
};

/* PINCTRL - additions to nodes defined in sc7180.dtsi */
&pm6150l_gpio {
        disp_pins: disp-state {
                pinconf {
                        pins = "gpio3";
                        function = PMIC_GPIO_FUNC_FUNC1;
                        qcom,drive-strength = <PMIC_GPIO_STRENGTH_MED>;
                        power-source = <0>;
                        bias-disable;
                        output-low;
                };
        };

        key_vol_up_default: key-vol-state {
                pinconf {
                        pins = "gpio2";
                        function = "normal";
                        input-enable;
                        bias-pull-up;
                        power-source = <0>;
                };
        };
};

&tlmm {
	gpio-reserved-ranges = <0 4>, <34 4>, <59 4>;

	sdc2_on: sdc2-on {
		pinconf-clk {
			pins = "sdc2_clk";
			bias-disable;
			drive-strength = <16>;
		};

		pinconf-cmd {
			pins = "sdc2_cmd";
			bias-pull-up;
			drive-strength = <10>;
		};

		pinconf-data {
			pins = "sdc2_data";
			bias-pull-up;
			drive-strength = <10>;
		};

		pinconf-sd-cd {
			pins = "gpio69";
			bias-pull-up;
			drive-strength = <2>;
		};
	};

	sdc2_off: sdc2-off {
		pinconf-clk {
			pins = "sdc2_clk";
			bias-disable;
			drive-strength = <2>;
		};

		pinconf-cmd {
			pins = "sdc2_cmd";
			bias-pull-up;
			drive-strength = <2>;
		};

		pinconf-data {
			pins = "sdc2_data";
			bias-pull-up;
			drive-strength = <2>;
		};

		pinconf-sd-cd {
			pins = "gpio69";
			bias-pull-up;
			drive-strength = <2>;
		};
	};
};

&lpasscc {
	status = "disabled";
};

&lpass_cpu {
	status = "disabled";
};

&lpass_hm {
	status = "disabled";
};

&apps_rsc {
	pm6150-rpmh-regulators {
		compatible = "qcom,pm6150-rpmh-regulators";
		qcom,pmic-id = "a";

		vreg_s1a: smps1 {
			regulator-min-microvolt = <1128000>;
			regulator-max-microvolt = <1128000>;
		};

		vreg_s4a: smps4 {
			regulator-min-microvolt = <824000>;
			regulator-max-microvolt = <1120000>;
		};

		vreg_s5a: smps5 {
			regulator-min-microvolt = <1744000>;
			regulator-max-microvolt = <2040000>;
		};

		vreg_l1a: ldo1 {
			regulator-min-microvolt = <1178000>;
			regulator-max-microvolt = <1256000>;
		};

		vreg_l2a: ldo2 {
			regulator-min-microvolt = <944000>;
			regulator-max-microvolt = <1056000>;
		};

		vreg_l3a: ldo3 {
			regulator-min-microvolt = <968000>;
			regulator-max-microvolt = <1064000>;
		};

		vreg_l4a: ldo4 {
			regulator-min-microvolt = <824000>;
			regulator-max-microvolt = <928000>;
		};

		vreg_l5a: ldo5 {
			regulator-min-microvolt = <2496000>;
			regulator-max-microvolt = <3000000>;
			regulator-always-on;
		};

		vreg_l6a: ldo6 {
			regulator-min-microvolt = <568000>;
			regulator-max-microvolt = <648000>;
		};

		vreg_l9a: ldo9 {
			regulator-min-microvolt = <488000>;
			regulator-max-microvolt = <800000>;
		};

		vreg_l10a: ldo10 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1832000>;
		};

		vreg_l11a: ldo11 {
			regulator-min-microvolt = <1696000>;
			regulator-max-microvolt = <1904000>;
		};

		vreg_l12a: ldo12 {
			regulator-min-microvolt = <1696000>;
			regulator-max-microvolt = <1952000>;
		};

		vreg_l13a: ldo13 {
			regulator-min-microvolt = <1696000>;
			regulator-max-microvolt = <1904000>;
		};

		vreg_l14a: ldo14 {
			regulator-min-microvolt = <1728000>;
			regulator-max-microvolt = <1832000>;
		};

		vreg_l15a: ldo15 {
			regulator-min-microvolt = <1696000>;
			regulator-max-microvolt = <1904000>;
		};

		vreg_l16a: ldo16 {
			regulator-min-microvolt = <2496000>;
			regulator-max-microvolt = <3304000>;
		};

		vreg_l17a: ldo17 {
			regulator-min-microvolt = <2920000>;
			regulator-max-microvolt = <3232000>;
		};

		vreg_l18a: ldo18 {
			regulator-min-microvolt = <1696000>;
			regulator-max-microvolt = <1904000>;
		};

		vreg_l19a: ldo19 {
			regulator-min-microvolt = <2696000>;
			regulator-max-microvolt = <3304000>;
		};
	};

	pm6150l-rpmh-regulators {
		compatible = "qcom,pm6150l-rpmh-regulators";
		qcom,pmic-id = "c";

		vreg_s8c: smps8 {
			regulator-min-microvolt = <1120000>;
			regulator-max-microvolt = <1408000>;
		};

		vreg_l1c: ldo1 {
			regulator-min-microvolt = <1616000>;
			regulator-max-microvolt = <1984000>;
		};

		vreg_l2c: ldo2 {
			regulator-min-microvolt = <1168000>;
			regulator-max-microvolt = <1304000>;
		};

		vreg_l3c: ldo3 {
			regulator-min-microvolt = <1144000>;
			regulator-max-microvolt = <1304000>;
		};

		vreg_l4c: ldo4 {
			regulator-min-microvolt = <1648000>;
			regulator-max-microvolt = <3304000>;
		};

		vreg_l5c: ldo5 {
			regulator-min-microvolt = <1648000>;
			regulator-max-microvolt = <3304000>;
		};

		vreg_l6c: ldo6 {
			regulator-min-microvolt = <1648000>;
			regulator-max-microvolt = <3304000>;
		};

		vreg_l7c: ldo7 {
			regulator-min-microvolt = <3000000>;
			regulator-max-microvolt = <3312000>;
		};

		vreg_l8c: ldo8 {
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1904000>;
		};

		vreg_l9c: ldo9 {
			regulator-min-microvolt = <2952000>;
			regulator-max-microvolt = <3304000>;
		};

		vreg_l10c: ldo10 {
			regulator-min-microvolt = <3000000>;
			regulator-max-microvolt = <3400000>;
		};

		vreg_l11c: ldo11 {
			regulator-min-microvolt = <3000000>;
			regulator-max-microvolt = <3400000>;
		};

		vreg_bob: bob {
			regulator-min-microvolt = <3008000>;
			regulator-max-microvolt = <3960000>;
			regulator-initial-mode = <RPMH_REGULATOR_MODE_AUTO>;
		};
	};
};
